body {
    background: #ecf0f3;
    right: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#big-box {
    width: 100vw;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
    transition-duration: 1s;
}

section {
    scroll-snap-align: start;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.ticker-wrap {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 100%;
    box-sizing: content-box;
    margin-left: -13px;
    
}
.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    mix-blend-mode: difference;
}
.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: white;
}

h1, h2, p {
    padding: 0 5%;
}

#first-layout {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#first-layout.dark_mode {
    color: #fff;
}

.manager {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#left_column {
    width: 350px;
    height: 100%;
    position: static;
    display: flex;
    left: 0px;
    margin: 0px 0px 0px 0px;
    align-items: flex-end;
    top: 0px;
    /*border-style: solid;*/
    
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    gap: 1rem;
    align-content: flex-end; 
    perspective: 800px;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1,
             inset -3px -3px 7px #ffffff,
             inset 3px 3px 5px #ceced1;
}

#left_column.dark_mode {
    background: #131419;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
             3px 3px 5px rgba(0, 0, 0, 0.5),
             inset -3px -3px 7px rgba(255, 255, 255, 0.05),
             inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#authorize {  
    font-family: inherit;
    font-weight: 700;
    border: none;
    margin-left: 15px;
    padding: 1rem 3rem;
    background: linear-gradient(145deg, #dcdcdc, #fff);
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
    transition: all 0.3s ease;
}

#authorize:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        inset 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

#authorize.dark_mode {
    background: #131419;
    color: rgb(180, 180, 180);
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
                3px 3px 5px rgba(0, 0, 0, 0.5);
}

#authorize:hover.dark_mode {
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
             3px 3px 5px rgba(0, 0, 0, 0.5),
             inset -3px -3px 7px rgba(255, 255, 255, 0.05),
             inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#tester {  
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #212121;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
    transition: all 0.3s ease;
    font-family: 'Inter', sans-serif;
    background: #ecf0f3;
}

#tester:hover {
    box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1; 
    color: #212121;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
}

#tester:hover.dark_mode {
    box-shadow: inset -3px -3px 7px rgba(0, 0, 0, 0.5),
    inset 3px 3px 5px rgba(255, 255, 255, 0.05); 
color: rgb(180, 180, 180);
box-shadow:
-8px -4px 8px 0px rgba(0, 0, 0, 0.5),
8px 4px 12px 0px rgba(255, 255, 255, 0.05);
}

#tester:hover:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    border-radius: 50%;
}

#tester:hover:before.dark_mode {
    box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.05),
                inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#tester.dark_mode {
    color: rgb(180, 180, 180);
    box-shadow:
      -8px -4px 8px 0px rgba(255, 255, 255, 0.05),
      8px 4px 12px 0px rgba(0, 0, 0, 0.5),
      4px 4px 4px 0px rgba(255, 255, 255, 0.05) inset,
      -4px -4px 4px 0px rgba(0, 0, 0, 0.5) inset;
    background: #131419;
}

#status {
    outline-style: double;
    width: fit-content; 
    height: fit-content;   
    margin: 0px;  
    padding: 5px;
    display: none;
}

#status.dark_mode {
    color: #eeeeee;
}

.question_mark {
    height: 34px;
    padding: 5px;
    border-style: double;
}

.twitch_wrap {
    width: 100%;
    height: 50%;
    min-height: 160px;
    background: transparent;    
    margin-top: 30px;
    border-top: #212121 solid 1px;
    padding-top: 10px;
    box-sizing: border-box;
}

.twitch_wrap.hidden {
    display: none;
}

.twitch_extension {
    position: relative;
    display: block;
    width: 95%;
    height: 95%;
    min-height: 160px;
    bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
}

.twitch_extension::-webkit-scrollbar {
    width: 10px;
    
}
.twitch_extension::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: 1px 1px 2px #ccc inset,
                -1px -1px 4px #fff inset;
}

.twitch_extension::-webkit-scrollbar-track.dark_mode {
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.09) inset,
                -1px -1px 4px rgba(0, 0, 0, 0.5) inset;
}

.twitch_extension::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: 1px 1px 2px #212121 inset,
                -1px -1px 2px #eeeeee inset;
}

.twitch_extension::-webkit-scrollbar-thumb.dark_mode {
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.05) inset,
                -1px -1px 2px rgba(0, 0, 0, 0.5) inset;
}

.twitch_wrap.hidden {
    display: none;
}

.tester_container {
    position: relative;
    width: 90%;
    height: 40px;
    display: block;
    color: #eee;
    box-sizing: border-box;
    line-height: 19.5px;
    margin-bottom: 5px;
    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    box-shadow: -3px -3px 7px #ffffff,
                 3px 3px 5px #ceced1;
     transition: all 0.2s ease;
}

.tester_container.dark_mode {
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
                 3px 3px 5px rgba(0, 0, 0, 0.5);
    color: rgb(180, 180, 180);
    transition: all 0.2s ease-in;
}

.tester_container:hover {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
   box-shadow: inset -3px -3px 7px #ceced1,
              inset 3px 3px 1px #ffffff;
   box-shadow:
      -8px -4px 8px 0px #ceced1,
      8px 4px 12px 0px #ffffff;
} 

.tester_container:hover.dark_mode {
    box-shadow: inset -3px -3px 7px rgba(0, 0, 0, 0.5),
              inset 3px 3px 1px rgba(255, 255, 255, 0.05); 
    box-shadow:
      -8px -4px 8px 0px rgba(0, 0, 0, 0.5),
      8px 4px 12px 0px rgba(255, 255, 255, 0.05);
}

.tester_container:hover:before {
    box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
    border-radius: 6px;
}

.tester_container:hover:before.dark_mode {
    box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.05),
                inset 3px 3px 5px rgba(0, 0, 0, 0.5);  
    border-radius: 6px;
}

.tester_link {
    display: flex;
    flex: 1 1 100%;
    position: static;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.tester_link:hover {
    cursor: pointer;    
}

.tester_pfp {
    display: flex;
    height: 37px;
    width: 37px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: aqua;
    border-radius: 50%;
    margin-right: 5px;
    background-size: 39px;
    justify-content: center;
    align-items: center;
}

.tester_tri_cont {
    display: flex;
    flex: 1 1 100%;
    color: #212121;
    justify-content: space-between;
    background-color: transparent;
    padding: 0em;
    font-family: 'Inter', sans-serif;
}

.tester_tri_cont.dark_mode {
    color: rgb(180, 180, 180);
}

.name_tit_container {
    display: block;
    padding: 0em;
    height: 40px;
    font-size: 1em;
}

.name {
    display: flex; 
    height: 20px;
    overflow: hidden;
}

.tit {
    display: block;
    height: 20px;
    overflow: hidden;
}

.tester_viewers {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.red_button {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: red;
    display: flex;
    border-radius: 50%;
    
}

#right_column {
    width: 5rem;
    height: 100%;
    /*min-height: 750px;*/
    right: 0px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;    
    /*padding-top: 10rem; 
    padding-bottom: 15rem;
    padding-right: 7px;*/
    perspective: 800px;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1,
             inset -3px -3px 7px #ffffff,
             inset 3px 3px 5px #ceced1;
    transition: all 0.3s ease-in-out;
}

#right_column.dark_mode {
    background: #131419;;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
             3px 3px 5px rgba(0, 0, 0, 0.5),
             inset -3px -3px 7px rgba(255, 255, 255, 0.05),
             inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 7rem;
} 

#right_column.expanded {
    width: 15rem;
    padding-right: 10px;
}

.frequent_links {
    position: relative;
    width: 4rem;
    height: 4rem;
    min-height: 4rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #212121;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.frequent_links.dark_mode {
    box-shadow:
      -8px -4px 8px 0px rgba(255, 255, 255, 0.05),
      8px 4px 12px 0px rgba(0, 0, 0, 0.5),
      4px 4px 4px 0px rgba(255, 255, 255, 0.05) inset,
      -4px -4px 4px 0px rgba(0, 0, 0, 0.5) inset;
    background: #131419;
    color: rgb(180, 180, 180);
    width: 5rem;
    height: 5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.frequent_links.expanded {
    width: 12rem;
    border-radius: 6px;
    justify-content: flex-start;  
}

.frequent_links:hover {
    box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1; 
    color: rgb(51, 174, 190);
    transition: all 0.3s ease-in-out;
}

.frequent_links:hover.dark_mode {
    box-shadow: inset -3px -3px 7px rgba(0, 0, 0, 0.5),
    inset 3px 3px 5px rgba(255, 255, 255, 0.05); 
color: rgb(180, 180, 180);
box-shadow:
-8px -4px 8px 0px rgba(0, 0, 0, 0.5),
8px 4px 12px 0px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease-in-out;
}

.frequent_links:hover:before.dark_mode {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.05),
                inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;

}

.frequent_links:hover:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    border-radius: 50%;
}

.link_span {
    position: absolute;
    width: 4rem;
    height: 4rem;
    font-size: x-small;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_text {
    position: absolute;
    display: none;
    transition: all 0.3s ease-in-out;
    left: 3.7rem;
    padding-top: 1rem;
    font-size: 0.9rem;
}

.link_text.seen {
    display: flex;   
}

.fade_in {
    animation: fadeIn ease-in-out 0.9s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#expand_div {
    top: 50%;
    left: -13rem;
    transform: rotate(270deg);
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    height: 5rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
}

#expand {
    font-size: 2.2em;
    font-family: 'Teko', sans-serif;
    /*font-weight: 700;*/
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
}

#expand.dark_mode {
    color: rgb(180, 180, 180);
}

.rotate {
    transform: rotate(90deg);
}

#arrow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(167, 29, 29);
    width: 55px;
    height: 55px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

#arrow1.twist {
    transform: rotateY(.5turn);
}

#arrow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(167, 29, 29);
    width: 55px;
    height: 55px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

#arrow2.twist {
    transform: rotateY(.5turn);
}

.search-bar-container {
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 200px;
    height: 350px;
    padding: 0 2rem;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1,
             inset -3px -3px 7px #ffffff,
             inset 3px 3px 5px #ceced1;
}

.search-bar-container.dark_mode {
    background: #131419;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
             3px 3px 5px rgba(0, 0, 0, 0.5),
             inset -3px -3px 7px rgba(255, 255, 255, 0.05),
             inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    color: rgb(180, 180, 180);
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.search-bar {
    width: 60%;
    min-width: 1rem;
}

.search-bar.dark_mode {
    background-color: #131419;
}

input {
    outline: none;
    padding: 1rem 3rem;
    padding-left: 3.3rem;
    border-radius: 50px;
    border: none;
    box-shadow: inset 0.6rem 0.6rem 1.2rem #cfcfcf,
       inset -0.6rem -0.6rem 1.2rem #fff;
    transition: all 0.3s ease-in-out;
}

input.dark_mode {
    box-shadow: inset -0.6rem -0.6rem 1.2rem rgba(0, 0, 0, 0.5),
                inset 0.6rem 0.6rem 1.2rem rgba(255, 255, 255, 0.05);
    color: #ccc;
    transition: all 0.3s ease-in-out;
}
 
input:hover {
    box-shadow: inset 0.2rem 0.2rem 0.4rem #cfcfcf,
       inset -0.2rem -0.2rem 0.4rem #fff;
       transition: all 0.3s ease-in-out;
}

input:hover.dark_mode {
    box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.5),
                3px 3px 5px rgba(255, 255, 255, 0.05);
                transition: all 0.3s ease-in-out;
}

.icon {
    position: absolute;
    left: 35px; 
    font-size: 1rem; 
}
 
 
.submit-btn {
    width: auto;
    font-family: inherit;
    font-weight: 500;
    border: none;
    margin-left: 15px;
    padding: 1rem 1.5rem;
    background: linear-gradient(145deg, #dcdcdc, #fff);
    border-radius: 40px;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
    transition: all 0.3s ease-in-out;
}

.submit-btn.dark_mode {
    background: #131419;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
                3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.toggle-container {
    width: 300px;
    height: auto;
    position: absolute;
    top: 7rem;
    left: 500px;
    
}

.toggle-container.dark_mode {
    background-color: #131419;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.label.dark_mode {
    color: rgb(180, 180, 180);
}
  
.label-text {
    margin-left: 16px;
}
  
.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
}

.toggle.dark_mode {
    box-shadow:
      -8px -4px 8px 0px rgba(255, 255, 255, 0.05),
      8px 4px 12px 0px rgba(0, 0, 0, 0.5),
      4px 4px 4px 0px rgba(0, 0, 0, 0.5) inset,
      -4px -4px 4px 0px rgba(255, 255, 255, 0.05) inset;
}
  
.toggle-state {
    display: none;
}
  
.indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
}

.indicator.dark_mode {
    background: #131419;
    box-shadow:
      -8px -4px 8px 0px rgba(255, 255, 255, 0.05),
      8px 4px 12px 0px rgba(0, 0, 0, 0.5);
}
  
.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}

#particles-js {
    position: absolute;
    background: #ecf0f3;
    height: 100vh;
    width: 100vw;
}

#particles-js.dark_mode {
    background: #131419;
}

@media only screen and (max-width: 1400px) {
    #first-layout {
       color: red; 
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .manager {
        position: relative;
        width: 700px;
    }

    #left_column {
        position: absolute;
        height: 700px;
        width: 350px;
        top: calc(8rem + 150px);      
        align-items: flex-end;
        margin: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #right_column {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 700px;
        width: 350px;
        top: calc(8rem + 150px);      
        margin: 0px;
        padding: 0px;
        overflow: hidden;   
    }

    #right_column.dark_mode {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 350px;

    }

    #right_column.expanded {
        width: 350px;
        overflow-y: scroll;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .frequent_links {
        padding: 1rem;
        margin: 1rem;
    }

    .frequent_links.dark_mode {
        padding: 1rem;
        margin: 1rem;
    }

    .link_text {
        left: 4.5rem;
    }

    #expand_div {
        left: 12rem;
        display: none;
    }

    .toggle-container {
       position: fixed;
       top: 2rem;
       left: 5rem;
       width: auto;     
    }

    .search-bar-container {
        position: absolute;
        height: 150px;
        width: 700px;        
        top: 8rem;
    }
}

@media only screen and (max-width: 800px) {

    #first-layout {
        color: red;
    }

    .manager {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 15rem;
        padding-bottom: 3rem;
        
    }

    #left_column {
        position: static;
        height: 500px;
    }

    #authorize {
        margin: 0px;
    }

    #twitch_wrap {
        margin: 0px;
        margin-top: 1rem;
    }

    #right_column {
        position: static;
        z-index: 300;
        height: 426px;
        min-height: 288px;
    }

    .search-bar-container {
        position: absolute;
        width: 350px;
        height: 100px;
    }

    .toggle-container {
        position: static;
    }
}









